<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="epos2_ros2_control" params=" 
    name
    usb_port:=/dev/ttyUSB0
    use_fake_hardware:=true">
<ros2_control name="${name}" type="system">
    <hardware>
        <plugin>epos_hardware/EposHardware</plugin>
        <!-- <plugin>dynamixel_hardware/DynamixelHardware</plugin> -->
    </hardware>
         <joint name="joint_1">
            <param name="device_name">EPOS2</param>
            <param name="protocol_stack_name">MAXON SERIAL V2</param>
            <param name="interface_name">USB</param>
            <param name="serial_number">0x602068006926</param>
            <param name="clear_faults">false</param>
            <param name="encoder_resolution">2</param>
            <!-- <param name="use_dummy">true</param> -->
            <param name="profile_position_velocity">30</param>
            <param name="profile_position_acceleration">50</param>
            <param name="profile_position_deceleration">50</param>
            <param name="profile_velocity_acceleration">50</param>
            <param name="profile_velocity_deceleration">50</param>

            <command_interface name="velocity"/>
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <!-- <transmission name="rear_right_wheel_joint_transmission">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <actuator name="rear_right_motor" role="rear_right_motor"/>
            <joint name="rear_right_wheel_joint" role="rear_right_wheel_joint">
                <mechanical_reduction>53</mechanical_reduction>
            </joint>
        </transmission> -->
        
        
        
    </ros2_control>
  </xacro:macro>

</robot>